body{
    font-family: 'Georgia Regular';
}
.header-top{
    padding: 15px 25px 45px 20px;
    background-color: #2e2e2e;
    color: #9f9f9f;
}
.header-top-left{
    float: left;

}
.header-top-right{
    font-size: 25px;
    float: right;
    line-height: 15px;
}

.header-top-left span:hover{
    color: blue;
}
.header-top-right i:hover{
    color: #db4a39;
}
.header-top-right .angular{
    color: #db4a39;
}
.progress{
    height: 0.6rem;
}
.progress-bar{
    width: 8%;
}
.nav-top .nav-item .nav-link{
    color: #2e2e2e;
}
.nav-top .nav-item .nav-link:hover{
    color: #9f9f9f;
}
.header-center-left h1{
    font-size: 4em;
    padding: 60px 0 0 0;
    color: #333333;
}
.header-center-left span{
    color: #999999;
}
.header-center-right{
    float: right;
}
.header-center-right input{
    background-color: #f1f1f1;
    color: #999999;
}
.header-center-right form{
    margin-top: -40px;
}
.header-center-right form button{
    color: #ffffff;
    background-color: #0099ff;
    border: 1px solid #0099ff;
}
.header-bottom{
    margin-top: 50px;
    background-color: #f1f1f1;
}
.header-bottom .header-bottom-left{
    margin: 150px 0 0 0px;
    padding-left: 90px;
}
.header-bottom .header-bottom-left button{
    background-color: #0099ff;
    color: #ffffff;
    border: 1px solid #0099ff;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
/*content*/
.content-right .row img{
    margin-left: 45px;
}
.content-right h5{
     color: #0099ff;
}
.content-right p{
    color: #666666;
}

.content-bottom{
    margin-top: 20px;
    background-color: #e0e0e0;
    padding: 25px 50px;
    border-left:#0099ff solid 12px;
}
.content-bottom-left{
    color: #333333;
}
.content-bottom-right button{
    margin-top: 12px;
    font-size: 28px;
    color: #e4e2e2;
}
/*footer*/
.footer{
    background-color: #1a1a1a;
    margin-top: 50px;
    padding-top:50px;
    padding-left: 100px;
}
.ft1 h6,.ft2 h6,.ft3 h6,.ft4 h6{
    color: #ffffff;
    padding-bottom: 20px;
}
.ft1 div{
    text-align: left;
    color: #666666;
}
.ft1 a{
    padding-left: 170px;
}
.ft2 div{
    border-bottom: #232323 solid 1px;
    color: #0099ff;
    padding-bottom: 10px;
}
.ft3 h5{
    color: #666666;
    font-size: 18px;
}
.ft3 div{
    color: #666666;
    text-align: left;
    line-height: 18px;
    font-size: 14px;
    padding-bottom: 10px;
}
.ft3 div a{
    padding-left: 170px;
}
.ft4 div input{
    background-color: #232323;
    color: #989898;
    width: 75%;
}
.ft4 textarea{
    background-color: #232323;
    color: #989898;
    width: 75%;
    height: 100px;

}
.ft4 button{
    margin-top: 25px;
}
.ft4 button:hover{
    background-color: #666666;
    color: #1a1a1a;
}
.footer-bottom{
    background-color: #222222;
    color: #666666;
    padding: 20px 0 10px 10px
}
.footer-bottom a{
    color: #666666;
}
.footer-bottom .end{
    padding-left: 800px;
}